# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science
- List popular libraries for Data Science
- Create a single column table for Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R Language
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Scientific Computing Libraries in Python
2. Visualization Libraries in Python
3. High-Level-Machine Learning and Deep Learning Libraries

| Data Science Tools |
| ----- |
| Jupyter |
| Apache Zeppelin |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Mus Ab Irfan Yilmaz